.featured .box {
    box-shadow: 0 0 20px 0 rgb(122 121 138/18%) ;
    border-radius: 6px;
    text-align: center;
    padding: 30px;
    cursor : pointer ;
}
.featured img{
    width:65px ;
    height: 65px ;
    margin: auto;
}
.featured .container .heading h1{
    color : #2f3954 ;
    font-weight: 600 ;
    text-transform: capitalize;
    font-size : 35px;
  }
  .featured .container .heading p{
    color : #72809d ;
  }